.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  max-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.App-link {
  color: red;
  margin: 0 14px;
}

.App-link:hover {
  color: green;
}

.Registration-form, .Login-form, .Inventory-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20vw;
  margin: 0 40vw;
}

.Form-field, .Form-button {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}

.Store-products {
  width: 70vw;
  margin: 0 15vw;
  display: flex;
  justify-content: space-around;
}